<ion-view  class="wrapper" ng-controller="graduationController">
    <ion-side-menus>
        <ion-side-menu-content style="background-color: whitesmoke">
            <a ng-controller="scrollController" ng-click="scrollTop()">
                <div class="bar bar-header bar-assertive"style=" position: absolute" ng-controller="backButtonController">
                    <button class="button button-icon icon ion-arrow-left-a" ng-click="onClickGraduationBackButton()"></button>
                    <h1 class="title">select course</h1>
                    <button class="button button-icon icon ion-navicon-round" ng-controller="sideMenuController" ng-click="opensidemenu()"></button>
                </div>    
            </a> 

            <ion-content class="padding" style="margin-top: 50px; " animation="slide-left-right-ios7">
                <ion-slide-box on-slide-changed="slideHasChanged($index)">
                    <ion-slide ng-click="onClickBtech();" style="background-image: url('img/btech.jpg'); background-repeat: no-repeat;background-position: center;">

                    </ion-slide>
                    <ion-slide ng-click="onClickMtech();" style="background-image: url('img/mtech.jpg'); background-repeat: no-repeat;background-position: center;">

                    </ion-slide>

                </ion-slide-box>       
            </ion-content>
        </ion-side-menu-content> 
        <ion-side-menu side="right">
            <ion-header-bar class="bar-dark">
                <h1 class="title">Profile</h1>
            </ion-header-bar>
            <ion-content style="background-color: #cccccc">
                <ul class="list" style="margin-top: -40px">
                    <li>
                        <a style="background-color: #cccccc" href="#login" class="item" ng-controller="logoutController" ng-click="onClickLogout();">
                            <i class="icon ion-heart"></i>
                            &nbsp;&nbsp;logout
                        </a>
                    </li>
                    <li>
                        <a class="item" style="background-color: #cccccc">
                            <i class="icon ion-person-stalker"></i>
                            &nbsp;&nbsp;change password
                        </a>
                    </li>
                </ul>
            </ion-content>
            <ion-nav-view></ion-nav-view>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>